@import url('all.css');

.nav {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav-logo{
    width: 20%;
}
.nav-logo a img {
    width: clamp(100px, 1.3rem + 2vw, 150px);
}
.nav-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction:row;
    font-family: var(--body-font-family);
    color: var(--txt-color);
}
.nav-logo a h1{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.nav-links{
    width: 70%;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
} 

.nav-links ul li:nth-child(4){
    display: inline-block;
    padding: 7px 14px; 
    border: 2px solid #333; 
    border-radius: 4px; 
    color: var(--txt-color);
    transition: all 0.5s ease-in-out;
}

.nav-links ul li:nth-child(4):hover{
    background-color: var(--txt-color);
    a{
        color: var(--primary-color);
    }
}

.link{
    text-decoration: none;
    color: var(--txt-color);
    font-family: var(--body-font-family);
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    transition: all .3s ease-in-out;
}
.link:hover{
    color: var(--primary-color);
}

@media  (max-width: 991px){
    .nav{
        justify-content: space-around;
    }
    .nav-link{
        width: 100%;
        height: max-content;
    }
    .nav-links ul{
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header{
    font-family: var(--heading-font-family);
}

.l-txt{
    color: var(--txt-color);
    font-size: clamp(3rem, 8vw, 7rem);
}

.md-txt{
    color: var(--txt-color);
    font-size: clamp(1.3rem, 3vw, 3rem);
}
.body-txt{
    font-family: var(--body-font-family);
}
.s-txt{
    color: var(--txt-color);
    font-size: clamp(.5rem, 2vw, .7rem);
}
.grad-txt{
    background: linear-gradient(120deg,var(--primary-color),var(--accent-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main-img{
    width: 50%;
}

.main-img img{
    width: clamp(300px,40vw,100%);
}

.scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.scroll small{
    margin-left: 1em;
}

.services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 24px;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 3rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 36px;
    border-radius: 22px;
    color: #ffffff;
    overflow: hidden;
    background: var(--primary-color);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: linear-gradient(260deg,var(--primary-color),var(--accent-color));
    z-index: -1;
    transform-origin: bottom;
  
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: var(--txt-color);
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content svg {
    width: 48px;
    height: 48px;
  }
  
  .content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link:hover {
    text-decoration: underline;
  }
  
  .card:hover {
    transform: translate(0px, -16px);
  }
  
  .card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
.card-logo{
    width: clamp(70px,10vw,100px);
}

.card-head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

@media  (max-width: 991px){
    .card-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card{
        width: 65%;
    }
}

@media  (max-width: 560px){
    .main-section{
        flex-direction: column;
    }
    .main-img{
        width: 100%;
    }
}